--- src/pages/sponsor.astro ---
---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import SponsorButton from '../components/SponsorButton.astro';
---

<html lang="en">
	<BaseHead title="Sponsor | Your Site" />
	<body>
		<Header />
		<main>
			<h1>Support My Work</h1>
			<SponsorButton />
		</main>
	</body>
</html>